openapi: 3.0.3
info:
  title: WhatsApp Avatar Checker API
  version: 1.0.0
  description: Synchronous WA Lookup checks for one phone number or a batch of up to 100. Pricing is intentionally not hard-coded.
  contact:
    name: WA Lookup
    url: https://walookup.com/products/ws_avatar
  license:
    name: MIT
    url: https://opensource.org/license/mit
externalDocs:
  description: WA Lookup API documentation
  url: https://walookup.com/api-docs
servers:
  - url: https://walookup.com
security:
  - ApiKeyAuth: []
paths:
  /api/v1/check:
    post:
      summary: Check one WhatsApp identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [service_type, identifier]
              properties:
                service_type: { type: string, enum: [ws_avatar] }
                identifier: { type: string, description: E.164 phone number }
      responses:
        '200':
          description: Determined result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SingleEnvelope' }
        '400': { description: Invalid input }
        '401': { description: Invalid API key }
        '402': { description: Insufficient balance }
        '422': { description: Undetermined and not charged }
        '429': { description: Rate or concurrency limited }
        '503': { description: Validation service maintenance }
  /api/v1/batch-check:
    post:
      summary: Check 1 to 100 phone numbers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [service_type, identifiers]
              properties:
                service_type: { type: string, enum: [ws_avatar] }
                identifiers:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items: { type: string }
      responses:
        '200':
          description: Ordered batch result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BatchEnvelope' }
        '400': { description: Invalid request }
        '401': { description: Invalid API key }
        '402': { description: Insufficient balance }
        '429': { description: Rate or concurrency limited }
  /api/v1/balance:
    get:
      summary: Read account balance in micros
      responses:
        '200':
          description: Current balance in micros
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BalanceEnvelope' }
        '401': { description: Invalid API key }
components:
  securitySchemes:
    ApiKeyAuth: { type: apiKey, in: header, name: X-API-Key }
  schemas:
    BalanceEnvelope:
      type: object
      required: [code, msg, data]
      properties:
        code: { type: integer, enum: [0] }
        msg: { type: string }
        data:
          type: object
          required: [balance_micros]
          properties:
            balance_micros: { type: integer, format: int64 }
    CheckResult:
      type: object
      required: [service_type, identifier, registered]
      properties:
        service_type: { type: string, enum: [ws_avatar] }
        identifier: { type: string }
        registered: { type: boolean }
        avatar: { type: string }
        avatar_url: { type: string, format: uri }
        business: { type: boolean }
    SingleEnvelope:
      type: object
      required: [code, msg, data]
      properties:
        code: { type: integer, enum: [0] }
        msg: { type: string }
        data: { $ref: '#/components/schemas/CheckResult' }
    BatchItem:
      type: object
      required: [identifier, exists]
      properties:
        identifier: { type: string }
        exists: { type: boolean }
        registered: { type: boolean }
        avatar: { type: string }
        avatar_url: { type: string, format: uri }
        business: { type: boolean }
    BatchData:
      type: object
      required: [service_type, total, succeeded, failed, results]
      properties:
        service_type: { type: string, enum: [ws_avatar] }
        total: { type: integer }
        succeeded: { type: integer }
        failed: { type: integer }
        results: { type: array, items: { $ref: '#/components/schemas/BatchItem' } }
    BatchEnvelope:
      type: object
      required: [code, msg, data]
      properties:
        code: { type: integer, enum: [0] }
        msg: { type: string }
        data: { $ref: '#/components/schemas/BatchData' }
